* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial, verdana, sans-serif;
    font-weight: normal;
}

ul {
    list-style: none;
}

.tiny-scroll-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.tiny-scroll {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 1001;
}

.tiny-scroll .ts-header {
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    background-color: #05b47a;
}

.tiny-scroll .ts-body {
    position: relative;
    background-color: #fff;
    overflow: hidden;
    height: 170px;
    padding: 0 40px;
}

.tiny-scroll .ts-body .ts-date {
    overflow: hidden;
}

.tiny-scroll .ts-body .ts-col {
    position: relative;
    float: left;
    width: 33.3%;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    padding: 10px 0;
    font-weight: bold;
    height: 100%;
}

.tiny-scroll .ts-datetime .ts-col {
    width: 20%;
}

.tiny-scroll .ts-body .ts-col em {
    position: absolute;
    font-style: normal;
    font-size: 14px;
    color: #05b47a;
    top: 50%;
    right: -7px;
    line-height: 14px;
    margin-top: -7px;
    font-weight: bold;
}

.tiny-scroll .ts-body .ts-col .ts-item-list {
    width: 100%;
    transition: -webkit-transform 150ms ease-out;
    transform: translate3d(0px, 0px, 0px);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
}

.tiny-scroll .ts-body .ts-col .ts-item-list .selected {
    color: #05b47a;
    font-weight: bold;
}

.tiny-scroll .ts-body .ts-col .ts-item-list .disable {
    color: #aaa;
}

.tiny-scroll .ts-footer .btns-wrapper {
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    text-align: center;
    background-color: #fff;
}

.tiny-scroll .ts-footer .btns-wrapper span {
    float: left;
    width: 50%;
}

.tiny-scroll .ts-footer .btns-wrapper span:first-child {
    border-right: 1px solid #eee;
    color: #666;
}

.tiny-scroll .ts-footer .btns-wrapper span:last-child {
    color: #05b47a;
}

.ts-mask {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(#fff 0,rgba(245,245,245,0) 52%,rgba(245,245,245,0) 48%,#fff 100%);
    background: -webkit-gradient(linear,left bottom,left top,from(#fff),color-stop(0.52,rgba(245,245,245,0)),color-stop(0.48,rgba(245,245,245,0)),to(#fff));
    background: -webkit-linear-gradient(#fff 0,rgba(245,245,245,0) 52%,rgba(245,245,245,0) 48%,#fff 100%);
    background: -moz-linear-gradient(#fff 0,rgba(245,245,245,0) 52%,rgba(245,245,245,0) 48%,#fff 100%);
}

.ts-front {
    position: absolute;
    width: 100%;
    height: 30px;
    top: 50%;
    left: 0;
    margin-top: -15px;
    padding: 0 7px;
}

.ts-front:after {
    content: " ";
    display: block;
    border-top: 1px solid #05b47a;
    border-bottom: 1px solid #05b47a;
    height: 100%;
}
